<%= form_tag books_search_path, method: "get" do %>
  <%= text_field_tag(:q, nil, class: "search-field") %>
  <%= submit_tag "Search", class: "search-field" %>
<% end %>

<% if @books_hash == nil %>
  Please enter search
<% else %>
  <% @books_hash.each do |data| %>
    <div class="book-title"><%= data['volumeInfo']['title'] %></div>
    <h2><%= data['volumeInfo']['authors'].try(:join, (', ')) %></h2>
    <div class="description-box">
      <p>
        <%= data['volumeInfo']['description'] %>
      </p>
    </div>
    <% if data['volumeInfo']['imageLinks'] != nil %>
      <img src="<%= data['volumeInfo']['imageLinks']['smallThumbnail'] %>"/>
    <% end %>

    <%= form_tag bookclub_assigned_books_path do %>
      <%= hidden_field_tag :title, data['volumeInfo']['title'] %>
      <%= hidden_field_tag :author, data['volumeInfo']['authors'] %>
      <%= hidden_field_tag :cover, data['volumeInfo']['imageLinks']['smallThumbnail'] %>
      <%= submit_tag "Add as Assigned Reading", class: "search-field" %>
    <% end %>
  <% end %>
<% end %>
