<p>
  show page
</p>

<p>
  <%= @bookclub.name %>
</p>

<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
    </tr>
  </thead>
  <tbody>
    <% @bookclub.assigned_books.each do |assigned_book| %>
    <tr>
      <td>
        <%= assigned_book.book.title %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>

<%= link_to "Assign New Book to Bookclub", books_search_path(@bookclub) %>
|
<%= link_to "Edit", edit_bookclub_path(@bookclub) %>
|
<%= link_to "Delete", @bookclub, method: :delete %>

</p>
