<h4><%= @bookclub.name %></h4>

<table class="table">
  <thead>
    <tr>
      <th>
        Title:
      </th>
      <th>
        Members:
      </th>
    </tr>
  </thead>
  <tbody>
    <% @bookclub.assigned_books.each do |assigned_book| %>
    <tr>
      <td>
        <%= assigned_book.book.title %>
      </td>
    <% end %>
      <td>
        Guy Bookclubmember
      </td>
    </tr>
  </tbody>
</table>

<p>
<%= link_to "Choose a new book for your Bookclub", books_search_path(@bookclub) %>
|
<!-- <%#= link_to "Invite some friends", bookclub_users#index %> -->
|
<%= link_to "Edit", edit_bookclub_path(@bookclub) %>
|
<%= link_to "Delete", @bookclub, method: :delete %>
</p>
