<h4>Book lub: <%= @bookclub.name %></h4>

<table class="table">
  <thead>
    <tr>
      <th>
        Book Title
      </th>
      <th>
        Lub Members
      </th>
    </tr>
  </thead>
  <tbody>
    <% @bookclub.assigned_books.each do |assigned_book| %>
    <tr>
      <td>
        <%= link_to assigned_book.book.title, bookclub_assigned_book_path(@bookclub, assigned_book) %>
      </td>
    <% end %>
      <td>
        <% if @bookclub.bookclub_users.count > 0 %>
      <%= link_to pluralize(@bookclub.bookclub_users.count, "fellow reader"), bookclub_bookclub_users_path(@bookclub) %>
      <% else %>
      <%= "no members added" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>

<p>
<%= link_to "Choose a book", books_search_path(@bookclub) %>
|
<%= link_to "Invite some friends", bookclub_bookclub_users_path(@bookclub) %>
|
<%= link_to "Edit", edit_bookclub_path(@bookclub) %>
|
<%= link_to "Delete", @bookclub, method: :delete, data: {confirm: 'wait! fa real do?'} %>
</p>
