<!DOCTYPE html>
<html>
<!-- /////////////////////////////////////////////// -->
<!-- /                                             / -->
<!-- /                                             / -->
<!-- /                 @wes_whitney                / -->
<!-- /                                             / -->
<!-- /                                             / -->
<!-- /////////////////////////////////////////////// -->
<head>
  <title>booKlub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigate-bar nav-fixed nav-border">
    <% if current_user != nil %>
    <div id="bookclub-banner" class="sign">
      booKlub
    </div>
    <span class="auth-links">
    <%= current_user.username %>
    </span>
    <span class="sign-out"><%= link_to "Sign out of booklub", log_out_path, method: "delete" %></span>
    <% else %>
    <span class="auth-links">
      <a href="/auth/twitter">connect with twitter</a>
      <a href="/auth/google_oauth2">connect with google</a>
    </span>
    <% end %>
  </div>
  <header class="nav-junior">
  </header>
  <main>
    <div class="container">

      <% if notice != nil %>
      <h2><%= notice %></h2>
      <% end %>
      <%= yield %>

    </div>
  </main>
  <footer>
    <div class="fatty-footer">
      <small>wes whitney</small>
    </div>
  </footer>


</body>
</html>
