<!DOCTYPE html>
<html>
<head>
  <title>booKlub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navigate-bar">
      <h1>booKlub</h1>
      <p>
        <% if current_user %>
        <%= current_user.first_name %>
        <% end %>
      </p>
    </div>
  </header>
  <main>

  </main>
  <footer>
    <div class="fatty-footer">
      <small>wes whitney</small>
    </div>
  </footer>

<%= yield %>

</body>
</html>
